<h1><%= @band.name %></h1>

<p><%= @band.name %> has these members:</p>

<ul>
	<% @band.artists.each do |artist| %>
	<li>
		<%= link_to "#{artist.first_name} #{artist.last_name}", artist_path(artist) %>
	</li>
	<% end %>
</ul>

<p>Albums:</p>
<ul>
	<% @band.albums.each do |album| %>
	<li>
		<%= link_to album.title, album_path(album) %>
	</li>
	<% end %>
</ul>
<br>
<%= link_to 'Create new album', new_band_album_path(@band), class: 'new_album' %>
<br>
<%= link_to "Edit", edit_band_path(@band) %>
 <br>
<%= link_to "Back to bands", bands_path %>

