<%= form_for(@artist, html: {multipart: true}) do |f| %>
  <p>
		<%= f.label :first_name, "Artist's First Name" %>
		<%= f.text_field :first_name %>
	</p>
  <p>
		<%= f.label :last_name, "Artist's Last Name" %>
		<%= f.text_field :last_name %>
	</p>

  <p>
		<%= f.submit %>
	</p>
<% end %>