<h1><%= "#{@artist.first_name} #{@artist.last_name}'s Profile" %></h1>

<p><%= @artist.first_name %> belongs to these bands:</p>

<ul>
	<% @artist.bands.each do |band| %>
	<li>
		<%= band.name %>
	</li>
	<% end %>
</ul>

<%= link_to "Edit", edit_artist_path(@artist) %>
<br>
<%= link_to "Back to artists", artists_path %>

